body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.box {
    width: 200px;
    height: 100px;
    background-color: red; /* Content */
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;

    padding: 20px; /* Padding */
    border: 10px solid orange; /* Border */
    margin: 30px; /* Margin */
    background-clip: content-box;
}
